.hero{
    height: 100%;
    display: block;
    grid-column: fullw;
    grid-template-columns: subgrid;
    position: relative;
}

/* .hero__startblock{
    width: 5rem;
    position: fixed;
    inset: 5rem auto auto 10rem;
} */

.details__img{
    border-bottom-left-radius: 0.5rem ;
    border-bottom-right-radius: 0.5rem ;
}


.details__icon{
    width: 100%;
    height: 100%;
}

/*---------- hero ends here -----------*/
/*----- header starts here -----*/
.details__header{
    position: absolute;
    z-index: 1;
    inset-inline-start: 50%;
    translate: -50%;
}


.details__headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 1rem; */

}

.details__icon{
    width: 2rem;
    height: 2rem;
    margin-top: 1rem;
}

/*----------------- details-cast ------------------*/
.details__cast{
    width: 8rem;
    height: 16rem;
    margin: 0.5rem;
}

.details__cast-overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details__cast--grid{
    display: flex;
    overflow-x: auto;
}


.details__cast--img{
height: 10rem;
width: 8rem;
margin-bottom: 0.25rem;
}

.details__blockMargin{
    margin-block: 1rem;
}