.hero{
    grid-column: fullw;
    display: block;
    height: 100%;
    width: 100%;
}

.details__icon{
    width: 100%;
    height: 100%;
}

/*---------- header ends here -----------*/

.details__headline{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}

.details__icon{
    width: 2rem;
    height: 2rem;
}

/*----------------- details-cast ------------------*/
.details__cast{
    width: 8rem;
    height: 15rem;
    margin: 0.5rem;
}

.details__cast--grid{
    display: flex;
    overflow-x: auto;
}


.details__cast--img{
height: 9rem;
width: 8rem;
margin-bottom: 0.25rem;
}

.details__blockMargin{
    margin-block: 1rem;
}