.movielist{
margin-top: 1rem;
}

.movielist__headline{
    margin-bottom: 1rem;
}

.movielist__content{
    display: flex;
    overflow-x: auto;
}

.movielist__card{
    width: 100%;
    height: 20rem;
    margin-right: 1rem;
}

.popular__movie__img{
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.movielist__img--container{
    height:13rem;
    width: 9rem;
    margin-bottom: 1.5rem;
}

.movielist__img{
    height: 15rem;
    width: 10rem;
    border-radius: 0.5rem;
}

.movielist__btn{
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.25rem;
    border: 2px solid #9C9C9C;
    color: #9C9C9C;
    transition: background-color 0.4s, color 0.4s;
}

.movielist__btn:hover{
    background-color: #9C9C9C;
    color: var(--light-color);
}

.movielist__genre{
    background-color: #DBE3FF;
    border-radius: 1rem;
    padding: 0.25rem;
    font-size: small;
    border: none;
    color: #88A4E8;
    margin-inline-end: 0.25rem;
}
/*------------ POPULAR MOVIE SECTION ----------*/

.movielist__popular--header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.movielist__popular--card{
    display: flex;
    height: 8rem;
    width: 100%;
    margin-bottom: 1rem;
}

.movielist__popular--img{
    height: 100%;
    width: 5rem;
}

.movielist__popular--info{
    margin-left: 1rem;
}

.movielist__popular--headline{
    font-size: x-large;
}