.movielist{
margin-top: 2rem;
}

.movielist__headline{
    margin-bottom: 1rem;
}

.movielist__content{
    display: flex;
    overflow-x: auto;
}

.movielist__card{
    width: 10rem;
    height: 20rem;
    margin-right: 1rem;
    
}

.popular__movie__img{
    border-radius: 0.5rem;
}

.movielist__img{
    height: 15rem;
    width: 10rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(144, 122, 63, 0.378);
    border-radius: 0.5rem;
}

.movielist__btn{
    background-color: transparent;
    border-radius: 1rem;
    padding: 0.25rem;
    border: 2px solid #9C9C9C;
    color: #9C9C9C;
}

.movielist__genre{
    background-color: #DBE3FF;
    border-radius: 1rem;
    padding: 0.25rem;
    border: none;
    color: #88A4E8;
}

/*------------ POPULAR MOVIE SECTION ----------*/

.movielist__popular--header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.movielist__popular--card{
    display: flex;
    height: 10rem;
    width: 100%;
    margin-bottom: 1rem;
}

.movielist__popular--img{
    height: 10rem;
    width: 7rem;
}

.movielist__popular--info{
    margin-left: 1rem;
}

.movielist__popular--headline{
    font-size: x-large;
}