.saved-movies-container {
    display: grid;
    margin-top: 1rem;
    margin-inline: 1rem;
    background-color: #858380;
    width: 90%;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.saved-movie {
  display: flex;
  align-items: center;
  position: relative;
}

.saved-movie__img--container {
  height: 7rem;
  width: 10rem;
  margin-right: 1rem;
}

.saved-movie__img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.saved-movie__remove {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  font-size: 1.2em;
  position: absolute;
  right: 15px;
  top: 15px;
}

.saved-movie__remove:hover {
  color: red;
}

.details__icon.saved {
  color: #FFC319;
  fill: #FFC319;
}
